.addIcon{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 80px;
}

.addIcon:hover {
    cursor: pointer;
    color: var(--Dark_Blue);
}

.calendarGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 16px;
}

.calendar__container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.daily-tasks p{
    padding: 0;
    margin: 0;
}

.next-day-task p{
    padding: 4px;
    margin: 0;
}

.daily-tasks, .next-day-task {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.daily-tasks {
    margin-top: 16px;
}

.daily-tasks h2, .next-day-task h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
}

.daily-tasks ul, .next-day-task ul {
    list-style-type: none;
    padding: 0;
}

.daily-tasks ul li, .next-day-task ul li {
    background-color: #e3f2fd;
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
}

.next-days-tasks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.MuiPickersLayout-root,
.MuiDateCalendar-root,
.MuiPickersCalendarHeader-root,
.calendar__container .css-1rtg91x-MuiDateCalendar-root,
.MuiDayCalendar-weekContainer .css-flbe84-MuiDayCalendar-weekContainer {
    width: 100%;
}

.MuiTypography-root {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #333;
}

.MuiPickerStaticWrapper-root {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.MuiPickersDay-root {
    color: #1976d2;
}

.MuiPickersDay-root.Mui-selected {
    background-color: #1976d2;
    color: white;
}

.MuiPickersDay-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

.daily-tasks ul li.event {
    background-color: #f7934c;
}

.daily-tasks ul li.task {
    background-color: #c84668;
}

.next-day-task ul li.event {
    background-color: #f7934c;
}

.next-day-task ul li.task {
    background-color: #f32a5e;
}

.calendar__card {
    color: var(--White);
}

@media (max-width: 1000px) {
    .calendarGrid {
        display: block;
        grid-template-columns: 100%;
    }

    .next-days-tasks {
        margin-top: 16px;
    }
}
