.student__no-room {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.student__no-room__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.student__no-room__text p {
    padding: 0;
}

.no-room__buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    margin-top: 32px;
}

.no-room__buttons button {
    height: 48px;
}

.student__no-room__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.student__no-room__image img {
    height: 60vh;
}

.room__image__container {
    width: 40%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 0;
}

.ellipse--room {
    top: -40%;
    right: 5%;
}

.room--location--tag {
    position: absolute;
    top: 16px;
    right: 8px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: right;
}

.room--location {
    color: var(--White);
    font-family: var(--heading-font);
    font-size: 48px;
    line-height: 40px;
    font-weight: 900;
    padding: 0;
}

.room__basic-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 32px;
    margin-top: 64px;
}

.room__basic-info__text {
    display: flex;
    flex-direction: column;
}

.room__basic-info__cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.room__basic-info__cards.owner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.basic-info__cards--top {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.basic-info__cards--right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.basic-info__card {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    width: 390px;
    padding: 16px;
}

.basic-info__card--rating {
    height: 120px;
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: 0px 4px 4px var(--Mist);
    border: 1px solid var(--Mist);
}

.rating__icon {
    color: var(--Orange);
}

.basic-info__card--rating:hover {
    box-shadow: none;
    border: 1px solid var(--Blue);
    color: var(--Blue);
    cursor: pointer;
}

.basic-info__card--occupancy {
    height: 192px;
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: 0px 4px 4px var(--Mist);
    border: 1px solid var(--Mist);
}

.occupancy__icon {
    color: var(--Dark_Blue);
}

.basic-info__card--engage, .basic-info__card--income {
    height: 88px;
    width: 100%;
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: 0px 4px 4px var(--Mist);
    border: 1px solid var(--Mist);
}

.engage__icon {
    color: var(--Blue);
}

.engage__value, .income__value {
    font-family: var(--heading-font);
    font-size: 28px;
    font-weight: 700;
    margin-top: 4px;
}

.income__icon {
    color: var(--Lime_Green);
}

.basic-info__card--satisfaction {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px var(--Mist);
    border: 1px solid var(--Mist);
    border-radius: 8px;
}

.basic-info__card:hover {
    box-shadow: none;
    border: 1px solid var(--Blue);
    color: var(--Blue);
    cursor: pointer;
}

.basic-info__card.active:hover {
    color: var(--White);
}

.basic-info__card:hover .engage__title, .basic-info__card:hover .engage__value, .basic-info__card:hover .income__title, .basic-info__card:hover .income__value, .basic-info__card:hover .occupancy__title, .basic-info__card:hover .occupancy__text {
    color: var(--Blue);
}

.basic-info__card.active .engage__title, .basic-info__card.active .engage__value, .basic-info__card.active .income__title, .basic-info__card.active .income__value, .basic-info__card.active .occupancy__title, .basic-info__card.active .occupancy__text {
    color: var(--White);
}

.basic-info__card.active .engage__icon {
    color: var(--Dark_Blue);
}

.basic-info__card.active:hover .engage__title, .basic-info__card.active:hover .engage__value, .basic-info__card.active:hover .income__title, .basic-info__card.active:hover .income__value, .basic-info__card.active:hover .occupancy__title, .basic-info__card.active:hover .occupancy__text {
    color: var(--White);
}

.basic-info__card--unpaid {
    height: 80px;
    background-color: var(--Red);
    color: var(--White);
    border-radius: 8px;
    justify-content: center;
}

.basic-info__card--unpaid:hover {
    background-color: #c22a52;
    cursor: pointer;
}

.basic-info__card.active{
    background-color: var(--Blue);
    color: var(--White);
    border: none;
    box-shadow: none;
}

.basic-info__card.active .occupancy__title .engage__title .income__title {
    color: var(--White);
}

.basic-info__card__text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.occupancy__title, .rating__title {
    font-size: 28px;
}

.room__info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 64px;
    grid-template-rows: 2fr 1fr;
}

.room__info__main-content, .room__info__side-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.room__info__main-content {
    width: 100%;
    margin-bottom: 48px;
}

.room__info__side-content {
    width: 50%;
}

.room__people--main {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.transactions__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.transactions__list.small {
    margin-bottom: 0;
}

.transaction__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--Transparent-Grey);
}

.transaction__item.small {
    width: 100%;
}

.transactions__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.transaction__main {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.transaction__price {
    margin-right: 32px;
    text-align: center;
}

.transaction__price__value--small {
    font-weight: 700;
}

.room__more-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
}

.side-content--overview {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.room--icons--edit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}

.room--icons--button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
}

.rent__buttons {
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.rent__buttons button {
    width: 100%;
    height: 48px;
}

.side-content--your-rooms {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side-content--transactions, .side-content--top-months, .side-content--top-cities  {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.side-content--top-cities  {
    margin-bottom: 64px;
}

.see-more {
    color: var(--Black);
}

.overall-statistics--head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-right: 32px;
}

.overall-statistics__filters {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    gap: 16px;
}

.overall-statistics__filter {
    width: 100%;
}

.overall-statistics__filter.active:hover {
    cursor: default;
    background-color: var(--Dark_Blue);
}

.overall-statistics--content {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 16px;
    width: 100%;
}

.stats__card {
    width: 100%;
    border: var(--Mist) 1px solid;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.overall-statistics--current__value, .overall-statistics--yearly__value, .overall-statistics--users__value {
    font-weight: 700;
}

.overall-statistics--yearly__title::first-letter, .overall-statistics--users__title::first-letter {
    text-transform: uppercase;
}

.overall-statistics--current__grow, .overall-statistics--yearly__grow, .overall-statistics--users__grow {
    color: var(--Mist);
}

.room-statistics {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .room__basic-info {
        width: 100%;
    }

    .room__info__side-content {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .student__no-room {
        flex-direction: column;
        width: calc(100% - 32px);
        gap: 0;
    }

    .student__no-room__text {
        align-items: center;
    }

    .no-room__buttons {
        margin-bottom: 8px;
    }

    .no-room__buttons button {
        height: auto;
    }
    
    .student__no-room__image img {
        display: none;
    }

    .room__image__container {
        display: none;
    }
}