.about__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    width: 100%;
    padding-top: 64px;
}

.about__intro, .about__mission, .about__ideal-room {
    width: calc(100% - 240px);
    height: 440px;
    display: flex;
    grid-template-columns: 50% 50%;
    gap: 16px;
}

.about__ideal-room {
    margin-top: 64px;
    margin-bottom: 16px;
}

.about__intro-text, .about__mission-text, .about__ideal-room-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.about__intro-images {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.about__intro-image, .about__mission-image, .about__ideal-room-image {
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.about__intro-image {
    width: 100%;
}

.about__ideal-room-image {
    margin-left: 10%;
}

.about__mission-image {
    margin-right: 10%;
}

.about__intro-images-double{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    height: 100%;
}

.intro-image__1 {
    background-image: url(../Aula.webp);
}

.intro-image__2 {
    background-image: url(../../street.webp);
}

.intro-image__3, .mission-image, .ideal-room-image {
    background-image: url(../../apartment.webp);
}

.about__team {
    width: 100%; 
    height: 496px;
    background-color: var(--Transparent-Grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
}

.about__team-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: calc(100% - 240px);
    height: auto;
}

.about__team-description h1, .about__team-description h4 {
    margin-bottom: 0;
}

.about__team-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    width: auto;
    min-width: 572px;
    height: 100%;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.team-member__image {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.team-member__image--Wouter {
    background-image: url(../../wouter.webp);
}

.team-member__image--Tjerk {
    background-image: url(../../tjerk.webp);
}

.team-member__image--Wolf {
    background-image: url(../../wolf.webp);
    background-position: 70% 20%;
    background-size: 200%;
}

.team-member__name {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--heading-font), serif;
    color: var(--Black);
    text-align: center;
}

.team-member__role {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--heading-font), serif;
    color: var(--Mist);
    text-align: center;
}

.team-member__socials {
    display: flex;
    gap: 16px;
}

.about__slogan {
    width: 66%;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 110px;
    height: auto;
}

.about__slogan__text {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .about__intro, .about__mission, .about__ideal-room {
        flex-direction: column;
        width: calc(100% - 32px);
        height: auto;
    }

    .about__ideal-room {
        margin-top: 32px;
        margin-bottom: 0;
    }

    .about__intro-image {
        height: 100px;
    }
    

    .about__team {
        height: auto;
        gap: 24px;
        padding-bottom: 24px;
    }

    .about__team-description {
        width: calc(100% - 32px);
    }

    .about__team-members {
        grid-template-columns: 1fr;
        min-width: 0;
        width: 80%;
    }

    .about__mission-image {
        height: 0;
    }
}