.blogs__articles {
  display: grid;
  gap: 16px;
  margin-top: 64px;
  margin-bottom: 32px;
}

.blogs__articles__50{
    grid-template-columns: 1fr 1fr;
}

.blogs__articles__33{
    grid-template-columns: 1fr 1fr 1fr;
}