.city__select{
    margin-top: 16px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 13px;
    width: 100%;
}

.city__select h2{
    margin-bottom: 0;
}

.city__select-cities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    width: 100%;
}

.city__select-city{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Blue);
    color: var(--White);
    width: 100%;
    height: 130px;
}

.city__select-city p {
    margin-top: 68px;
    text-shadow: 2px 2px 4px var(--Black);
}

.image-Antwerp{
    background-image: url('./antwerpen.webp');
    background-size: cover;
    background-position: center;
}

.image-Brussels{
    background-image: url('./brussel.webp');
    background-size: cover;
    background-position: center;
}

.image-Ghent{
    background-image: url('./gent.webp');
    background-size: cover;
    background-position: center;
}

.image-Kortrijk{
    background-image: url('./kortrijk.webp');
    background-size: cover;
    background-position: center;
}

.image-Leuven{
    background-image: url('./leuven.webp');
    background-size: cover;
    background-position: center;
}

.image-Hasselt{
    background-image: url('./hasselt.webp');
    background-size: cover;
    background-position: center;
}