:root {
    --Orange : #F7934C;
    --Dark_Blue : #2A5EF3;
    --Blue: #668CEF;
    --Grey_Blue: #A3B9EA;
    --Beige: #FDFEE4;
    --Black: #1D1A05;
    --White: #FFFFFF;
    --Green: #5EF32A;
    --Red: #F32A5E;
    --Transparent-Grey: #F2F2F2;
    --Mist: #ACACAC;
    --body-font: 'degular';
    --heading-font: 'merel';
}

.page__container{
    padding-top: 3.5em;
}






@media screen and (max-width: 800px) {
    .page__container{
        padding-top: 0rem;
    }
}