:root {
    --Orange : #F7934C;
    --Dark_Blue : #2A5EF3;
    --Blue: #668CEF;
    --Grey_Blue: #A3B9EA;
    --Beige: #FDFEE4;
    --Black: #1D1A05;
    --White: #FFFFFF;
    --Green: #5EF32A;
    --Red: #F32A5E;
    --Transparent-Grey: #F2F2F2;
    --Mist: #ACACAC;
    --body-font: 'degular', sans-serif;
    --heading-font: 'merel', serif;
}

/* Font Sizes */
@media screen and (max-width: 800px) {
    h1{
        font-size: 28px;
        line-height: 34px;
        font-weight: 400;
        font-family: 'merel', serif;
    }

    h2{
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        font-family: 'merel', serif;
    }

    h3{
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        font-family: 'degular', sans-serif;
    }

    h4{
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        font-family: 'degular', sans-serif;
    }
}

@media screen and (min-width: 800px) {
    h1{
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        font-family: 'merel', serif;
    }

    h2{
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
        font-family: 'merel', serif;
    }

    h3{
        font-size: 36px;
        line-height: 43px;
        font-weight: 700;
        font-family: 'merel', serif;
    }

    h4{
        font-size: 28px;
        line-height: 34px;
        font-weight: 400;
        font-family: 'merel', serif;
    }

    h5{
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        font-family: 'merel', serif;
    }

    h6{
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        font-family: 'merel', serif;
    }

    .strong__text{
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        font-family: 'degular', sans-serif;
    }
}