.page__container {
    padding-top: 100px;
}

.content{
    min-height: 100vh;
    margin: 0 120px 16px 120px;
}

.center-container-always{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    color: var(--Black);
}

.title__center{
    text-align: center;
    display: block;
}

.normal__header {
    margin-top: 32px;
}

.normal__header h1, .normal__header h4, .normal__header h6{
    margin: 0 0 8px;
}

.heya__logo__blue__round{
    width: 80px;
    height: 80px;
    left: calc(50% - 80px/2);
    top: calc(50% - 80px/2 - 290px);
    margin: 3em auto 1em auto;
    display: block;
}

.input__field {
    border: none;
    color: var(--Black);
    background-color: var(--Transparent-Grey);
    border-radius: 8px;
    margin: 0.5em 0;
    padding: 8px 16px;
}

.form__group__confirm__password {
    margin-top: -40px;
}

.forgot__password {
    display: block;
    text-align: right;
    margin: -44px 16px 3em 0 ;
}

.google__button, .facebook__button {
    padding: 6px;
    border: 1px solid var(--Grey_Blue);
    color: var(--Black);
    background-color: var(--White);
    border-radius: 8px;
    display: flex;
    align-items: center;            
    justify-content: center;
}

.google__button svg, .facebook__button svg {
    margin-right: 16px; 
}

.blue__button {
    padding: 6px;
    border: none;
    color: var(--Beige);
    background-color: var(--Dark_Blue);
    border-radius: 8px;
    cursor: pointer;
}

.or{
    display: block;
    text-align: center;
}

.white__button {
    padding: 6px;
    border: 1px solid var(--Grey_Blue);
    color: var(--Dark_Blue);
    background-color: var(--White);
    border-radius: 8px;
    cursor: pointer;
}

.red__button {
    padding: 6px;
    border: none;
    color: var(--White);
    background-color: var(--Red);
    border-radius: 8px;
    cursor: pointer;
}

.already__have__account {
    display: block;
    text-align: center;
    margin-top: -40px
}

.place__to__offer, .looking__for__a__place {
    border: 1px solid var(--Grey_Blue);
    border-radius: 8px;
    text-align: center;
    padding: 12px 12px 0 0;
}

.next__help {
    padding-top: 32px;
}

.form__group p {
    padding-top: 16px;
}

.about__yourself__inputs input {
    width: 100%;
    margin: 0;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--Transparent-Grey);
}

select {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--Transparent-Grey);
    color: #797979;
    width: 100%;
}

.date__picker {
    margin: 0;
    font-family: var(--body-font), sans-serif;
    font-size: 1em;
    height: 42px;
    border-radius: 8px;
}

.next__help {
    float: right;
}

.blue__button.medium {
    background-color: var(--Dark_Blue);
    border-radius: 8px;
    border: none;
    padding: 8px 48px;
    color: var(--Beige);
    display: block;
}

.help {
    display: block;
    text-align: right;
    padding-top: 8px;
}

.center {
    display: block;
    text-align: center;
}

.blue__button.medium {
    width: 200px;
    margin: 1em auto;
    display: block;
}

.white__button.medium {
    width: 200px;
    margin: 1em auto;
    display: block;
}

.grid {
    width: 100%;
    display: grid;
    gap: 16px
}

.forGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.forGrid div{
    width: 100%;
    padding: 16px;
    border: 1px solid var(--Grey_Blue);
    border-radius: 8px;
    text-align: center;
}

.twoGrid.selectGrid div{
    width: 100%;
    padding: 16px;
    border: 1px solid var(--Grey_Blue);
    border-radius: 8px;
    text-align: center;
}

.checked {
    background-color: var(--Dark_Blue);
    color: var(--Beige);
}


.twoGrid input{
    width: 100%;
    margin: 0;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--Transparent-Grey);
}

.textarea-container {
    position: relative;
    width: 100%;
}

textarea{
    width: 100%;
    height: 128px;
    margin: 0;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--Transparent-Grey);
}

.char-counter {
    position: absolute;
    bottom: 10px;
    right: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    color: #757575;
    z-index: 0;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.ellipse--image {
    width: 1000px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(20deg);
    position: relative;
}

.ellipse--image::before {
    content: '';
    position: absolute;
    left: -50%;
    width: 140%;
    height: 140%;
    background-image: url('../room.webp');
    background-size: cover;
    background-position: center;
    transform: rotate(-20deg);
    transform-origin: center;
}

.tag {
    width: 120px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tag p {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.tag.default {
    background-color: var(--Beige);
    color: var(--Grey_Blue);
}

.tag.featured {
    background-color: var(--Orange);
    color: var(--White);
}

.tag.with-bike {
    background-color: var(--Dark_Blue);
    color: var(--White);
}

.tag.opening {
    background-color: var(--Grey_Blue);
    color: var(--White);
}

.tag.new {
    background-color: var(--Lime_Green);
    color: var(--Black);
}

.tag.cheap {
    background-color: var(--Red);
    color: var(--White);
}

.in-use {
    color: var(--Orange);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.in-use__circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--Orange);
    display: inline-block;
    margin-right: 6px;
}

.in-use__text {
    padding: 0;
    margin: 0;
}

.centered {
    text-align: center;
}

.no__padding {
    padding: 0;
    margin: 0;
}

.person__card {
    height: 140px;
    width: 100%;
    min-width: 300px;
    background-color: var(--Grey_Blue);
    border-radius: 8px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.person__card--image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.person__card--image--small {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.person__card--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.person__card--name {
    font-weight: 700;
    font-size: 18px;
}

.person__card--basics {
    margin-bottom: 8px;
}

.person__card--links {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.person__card--chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.person__card--chat__text {
    position: relative;
    top: -7px;
}

.person__card--button {
    width: 100%;
}

.information__button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue);
    color: var(--White);
}

.divider {
    width: 60%;
    margin-left: 20%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--Transparent-Grey);
}

.home__body {
    width: calc(100vw - 24px);
    overflow-x: hidden;
}

.home__container {
    padding-top: 60px;
}

.room-slider-container {
    padding-top: 80px;
    width: calc(75% + calc(100vw - 1200px)/2 + 32px);
}

.form-control-custom {
    color: red;
}
  
  .search-icon {
  }


@media screen and (min-height: 700px) and (min-width: 800px) {
    .center-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: -70px;
    }

    .heya__logo__blue__round{
        margin-top: 0;
    }
}

@media screen and (min-width: 800px) {
    .input__field {
        width: 100%;
        margin: 1em auto 0.5em auto;
        display: block;
    }

    .form__group__password, .form__group__confirm__password {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .form__group__confirm__password {
        margin-top: -46px;
    }

    .google__button, .facebook__button {
        width: 100%;
        margin: 0.5em auto 0.5em auto;
        cursor: pointer;
    }

    .blue__button:hover {
        background-color: var(--Blue);
    }

    .white__button:hover {
        border: 1px solid var(--Dark_Blue);
    }

    .blue__button.big {
        width: 100%;
        margin: 2em auto 1em auto;
        display: block;
    }

    .white__button.big {
        width: 100%;
        margin: 1em auto;
        display: block;
    }

    .select__situation {
        width: 100%;
        display: flex;
    }

    .place__to__offer {
        width: 388px;
        margin-right: 12px;
    }

    .looking__for__a__place {
        width: 388px;
        margin-left: 12px;
    }

    .about__yourself__inputs {
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
    }

    .about__yourself__inputs input {
        width: 384px;
        margin: 0;
    }

    .about__yourself__inputs select {
        width: 384px;
        margin: 0;
    }

    .MuiFormControl-root {
        width: 100%;
        margin: 0;
        background-color: var(--Transparent-Grey);
        border-radius: 8px;
    }

    .about__yourself__inputs .MuiFormControl-root {
        width: 384px;
    }

    .blue__button.medium {
        width: 210px;
        background-color: var(--Dark_Blue);
        padding: 16px;
        left: calc(87% - 210px/2);
    }

    .photo__h1{
        margin-top: -100px;
        display: block;
        width: 800px;
    }

    .twoGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .person__card {
        width: 320px;
    }

    .room-slider-container {
        width: calc(100vw - 24px);
    }
}

@media screen and (max-width: 800px) {
    .content{
        padding-top: 0;
        margin: 0 16px 0 16px;
    }

    h1{
        font-size: 1.75em;
    }

    .heya__logo__blue__round{
        margin-top: 3.5em;
    }

    .input__field {
        width: 100%;
    }

    .google__button, .facebook__button {
        width: 100%;
        margin: 0.5em 0;
    }

    .google__button{
        margin-top: 1em;
    }

    .blue__button.big {
        width: 100%;
        margin: 2em 0 1em 0;
    }

    .white__button.big {
        width: 100%;
        margin: 1em 0;
    }

    .place__to__offer {
        margin: 16px 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .looking__for__a__place {
        margin: 16px 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .normal__header {
        margin-top: 32px;
    }
}

@media screen and (max-width: 400px) {
    .google__button, .facebook__button {
        width: calc(100% - 100px);
        margin: 0.5em 50px;
    }

    .heya__logo__blue__round{
        margin-top: 3em;
    }

    .select__situation__page .heya__logo__blue__round {
        margin-top: 0;
    }

    .form__group__email {
        margin-top: 2em;
    }
}

@media screen and (max-width: 300px) {
    .google__button, .facebook__button {
        width: calc(100% - 32px);
        margin: 0.5em 16px;
    }
}