body {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

.nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr) 55px;
    transition: color 0.3s ease;
    align-items: center;
    background-color: var(--White);
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 1;
}

.nav__box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--Black);
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav__box span {
    font-size: 18px;
    color: var(--Black);
    font-weight: 200;
    font-family: var(--body-font), sans-serif;
}

.nav__box.active span {
    color: var(--Dark_Blue); 
}

.nav__box:hover {
    cursor: pointer;
}

.hidden__desktop {
    display: none;
}

.hidden {
    display: none;
}

.heya__logo {
    height: 64px;
    width: auto;
}

.nav__box:hover {
    cursor: pointer;
}

.nav__box:not(.no-hover):hover::after,
.nav__box:not(.no-hover).active::after {
    width: calc(50% - 40px); 
    background-color: var(--Dark_Blue); 
}


.nav__img-wrapper .MuiSvgIcon-root {
    font-size: 2.2rem; 
    color: var(--Black);
}

.nav__img-wrapper .active-icon {
    color: var(--Blue);
}


@media screen and (min-width: 800px) {
    .nav {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
    }

    .nav__box {
        position: relative;
    }

    .nav__box span {
        color: var(--Black);
    }

    .active {
        border-radius: 8px;
    }

    .nav__box__home.active {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    } 
    
    .nav__box__profile.active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 54px;
    }

    .active span{
        color: var(--Dark_Blue);
    }

    .nav__box::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: transparent;
        transition: width 0.3s ease;
    }


    .do-not-show-on-desktop {
        display: none;
    }

    .nav__profile-wrapper {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 40px;
    }

    .nav__profile-wrapper .profile__picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0;
        object-fit: cover;
    }

    .nav__profile-name {
        margin-left: 8px;
        font-size: 18px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    .nav__box__language {
        display: flex;
        align-items: center;
        color: var(--Black);
        padding: 8px;
        text-decoration: none;
        font-weight: lighter;
      }
      
      .language-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 8px;
      }
      
      .dropdown-icon {
        color: var(--Black);
      }

      
    
}

@media screen and (max-width: 800px) {
    .page__container {
        padding-top: 16px;
    }

    .nav {
        bottom: 0;
        top: auto;
        box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
        grid-template-columns: repeat(5, 1fr);
    }

    .nav__box {
        flex-direction: column;
        padding-top: 4px;
    }

    .nav__box span {
        font-size: 1rem;
        margin-left: 0;
        font-weight: 200;
    }

    .active span{
        color: var(--Blue);
    }

    .hidden__mobile{
        display: none;
    }

    .hidden__desktop {
        display: flex;
    }

    .nav__box img {
        height: 2rem;
        width: auto;
    }
    
    .nav__img-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .nav__img-wrapper img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    
    
    .nav__box__home img{
        width:2.5rem;
        height: 2.5rem;
    }
    
    .nav__box__profile img{
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .nav__box__rooms img{
        height: 1.4rem;
    }

    .nav__profile-wrapper {
        display: flex;
        align-items: center;
    }

    .nav__profile-name {
        margin-left: 8px;
        font-size: 1rem;
    }
}