.pinterest-room-grid {
  columns: 4;
  gap: 16px;
  justify-content: space-between;
  padding: 16px; 
  width: 75%;
  }  

  .pinterest-room-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: aqua;
    position: relative;
    margin-bottom: 16px;
  }
  
  .pinterest-room-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .pinterest-room-label {
    position: absolute;
    bottom: 388px;
    left: 8px;
    color: var(--White);
    background-color: var(--Orange);
    padding: 4px 8px;
    border-radius: 16px;
    width: 120px;
    text-align: center;
    z-index: 0;
  }
  
  .pinterest-room-favorite-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--White);
    cursor: pointer;
  }
  
  .pinterest-room-details {
    margin-top: 0px;
    padding: 12px;
    background-color: var(--White);
  }

  .pinterest-room-city {
    color: var(--Black);
    margin-top: -40px;
  }
  