.room-slider {
    padding: 16px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .more-rooms-button {
    margin-left: auto; 
    width: 120px;
  }
  
  .room-card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  
  .room-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-right: 16px;
    flex: 0 0 auto;
    width: 300px;
    scroll-snap-align: start;
  }
  
  .room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .room-label {
    position: relative;
    bottom: 192px;
    left: 8px;
    color: var(--White);
    background-color: var(--Red);
    padding: 4px 8px;
    border-radius: 16px;
    width: 120px;
    text-align: center;
    z-index: 0;
  }
  
  .room-favorite-icon {
    position: relative;
    top: -238px;
    right: -260px;
    color: var(--White);
    cursor: pointer;
  }
  
  .room-details {
    margin-top: -74px;
    padding: 12px;
    background-color: var(--White);
  }
  
  .room-city {
    color: var(--Black);
    margin-top: -40px;
  }
  

  /* Medium screens */
@media screen and (max-width: 1200px) {
  .room-card {
      width: 250px;
  }

  .room-image {
      height: 180px;
  }

  .room-label {
      bottom: 172px;
      width: 100px;
  }
  
  .room-favorite-icon {
      top: -220px;
      right: -216px;
  }
}

/* Small screens */
@media screen and (max-width: 800px) {
  .room-card {
      width: 200px;
  }

  .room-image {
      height: 150px;
  }

  .room-label {
      bottom: 142px;
      width: 80px;
  }

  .room-favorite-icon {
      top: -188px;
      right: -172px;
  }
}

/* Very small screens */
@media screen and (max-width: 400px) {
  .room-card {
      width: 150px;
  }

  .room-image {
      height: 120px;
  }

  .room-label {
      bottom: 112px;
      width: 60px;
  }

  .room-favorite-icon {
      top: -154px;
      right: -128px;
  }
}

/* Extra small screens */
@media screen and (max-width: 300px) {
  .room-card {
      width: 120px;
  }

  .room-image {
      height: 100px;
  }

  .room-label {
      bottom: 92px;
      width: 50px;
  }
}